<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Domain/Transaction</directory>
            <directory>tests/Domain/Ledger</directory>
            <directory>tests/Domain/Fee</directory>
            <directory>tests/Domain/Fraud</directory>
            <directory>tests/Domain/Reconciliation</directory>
            <directory>tests/Application</directory>
        </testsuite>
        <testsuite name="Integration">
            <file>tests/Domain/Pipeline/PipelineTest.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
